src/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csproj.FileListAbsolute.txt
src/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csproj.FileListAbsolute.txt
src/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csproj.FileListAbsolute.txt
src/ClinicaFrba/ClinicaFrba/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csproj.FileListAbsolute.txt
src/ClinicaFrba/.vs/ClinicaFrba/v14/.suo
src/ClinicaFrba/ClinicaFrba.v11.suo
src/ClinicaFrba/ClinicaFrba/bin/Debug/ClinicaFrba.vshost.exe
src/ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csproj.FileListAbsolute.txt
src/ClinicaFrba/ClinicaFrba/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache